.container-fadhil {
  width: 56%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 100px);
  grid-template-areas:
    "header header aside"
    "nav main aside"
    "footer footer aside";
  gap: 10px 20px;
}

.image {
  display: block;
  width: 60%;
  margin: 50px auto;
}
.item-fadhil {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  background-color: rgb(21, 157, 211);
}

.item-fadhil2 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  background-color: rgb(21, 157, 211);
}

.container_umam {
  width: 900px;
  margin: 50px auto;
  display:grid;
  grid-template-columns: [awal] 25% [kolom2]auto [kolom3] 90px;
  grid-template-rows: [barisAwal] 50px [baris2] 100px [baris3] auto; 
}
.item-umam {
    background-color: rgb(138, 209, 254);
    display: flex;
    justify-content: center;
    align-items: center;
  }

.item-umam:nth-child(even) {
  background-color: rgb(133, 142, 142);
}

.container-candra {
  display: grid;
  grid-template-columns: repeat (2, auto);
  grid-template-rows: repeat (4, 100px);
  grid-template-areas:
    "header header"
    "aside main"
    "nav main"
    "footer footer";
  gap: 10px 50px;
}

.content-style {
  font-size: 25px;
  color: aliceblue;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-candra header {
  grid-area: header;
  background-color: rgb(82, 97, 97);
}
.container-candra aside {
  grid-area: aside;
  background-color: burlywood;
}
.container-candra nav {
  grid-area: nav;
  background-color: cornflowerblue;
}
.container-candra main {
  grid-area: main;
  background-color: darkkhaki;
}
.container-candra footer {
  grid-area: footer;
  background-color: darkslateblue;
}
#code-text {
    /* font-style: italic; */
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    background: khaki;
}

div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
}

.container-autorow-bram {
    display: grid;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 150px;
    gap: 10px;
}

.container-autocolumn-bram {
    display: grid;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 300px;
    gap: 10px;
}

.item-bram {
    background : rgb(0, 102, 102);
}

.item-bram:nth-child(odd) {
    background : rgb(143, 0, 0);
}

.item-bram1 {
    background: darkorchid;
}

.item-bram2 {
    background-color: darkorange;
}

.item-bram3 {
    background-color: darkblue;
}

.item-bram4 {
    background-color: darkgreen;
    grid-column: 4;
    grid-row: 1;
}

.item-bram5 {
    background-color: darkred;
}

.item-bram6 {
    background-color: darkslateblue;
}

.item-bram7 {
    background-color: darkturquoise;
}

.item-bram8 {
    background-color: darkviolet;
}

.item-bram9 {
    background-color: darksalmon;
}

.container-andre {
  color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #21f379;
  padding: 10px;
}

.grid-container>div {
  background-color: rgba(30, 183, 230, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  grid-row-start: 1;
}

.grid-container-rowEnd {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #da4369;
  padding: 10px;
}

.grid-container-rowEnd>div {
  background-color: rgba(22, 233, 215, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item7 {
  grid-row-end: span 3;
}

.kevin-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.kevin-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.item-1 {
    grid-column-start: 2;
}

.kevin-container2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #cdd866;
    padding: 10px;
}

.kevin-container2>div {
    background-color: rgba(247, 43, 202, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.item-7 {
    grid-column-end: span 2;
}
